.button {
  display: inline-block;

  min-width: 150px;
  padding: 8px 12px;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;

  @media (hover: hover) {
    &:hover {
      transition: background-color var(--transition-default);
    }
  }
}

.primary {
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--accent);

  @media (hover: hover) {
    &:hover {
      background-color: var(--accent-hover);
    }
  }
}

.secondary {
  border: 1px solid var(--border);
  color: var(--foreground);
  background-color: var(--background);

  @media (hover: hover) {
    &:hover {
      background-color: var(--hover);
    }
  }
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.down {
  rotate: 90deg;
  margin: 0;
}
